body {
    margin: 0;
    background-color: white;
    font-family: Arial;
    height: 1200px;
}

/* black bar */
h2 {
    background-color: black;
    color: white;

    padding: 10px;

    margin: 40px;
    margin-bottom: 0;

    position: sticky;
    top: 0;

    z-index: 2;
}

/* all sticky notes */
.note {
    width: 130px;
    height: 130px;

    background-color: #fff36d;

    padding: 10px;

    box-shadow: 3px 3px 8px gray;

    font-weight: bold;
}

/* first note */
.note1 {
    margin-left: 75px;
    margin-top: -10px;
}

/* second note */
.note2 {
    margin-left: 220px;
    margin-top: -20px;
    transform: rotate(5deg);
}

/* third note */
.note3 {
    margin-left: 90px;
    margin-top: 30px;
}

/* help button */
button {
    background-color: red;
    color: white;

    border: none;

    padding: 10px 15px;

    position: fixed;
    right: 20px;
    bottom: 20px;
}